.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header h1 {
  margin-bottom: 20px;
}

.App-header p {
  font-size: 18px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #f0f0f0;
  color: #333;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  text-align: left;
}
